version: '3'
services:
  mongo:
    image: mongo:6.0.17
    container_name: mongo
    ports:
      - '27017:27017'

  app:
    build: .
    container_name: announcements-service
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://localhost:27017/nest
    links:
      - mongo
